html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #253D5B;
    color: white;
    text-align: center;
    padding: 20px;
}

.content {
    background-color: #F5F5F5;
}

footer {
    background-color: #253D5B;
    color: white;
    text-align: center;
    padding: 20px;
}

.center-button {
    background-color: #CCCCCC;
    display: block;
    margin: 0 auto;
}
